/* box */
body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.box-wrapper {
  width: 150px;
  height: 150px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
}

.box-main {
  width: 150px;
  height: 150px;
  background-color: lightgrey;
}

.box-letter {
 margin: 0;
 padding: 0;

 position: absolute;
 z-index: 3;

 font-size: 150px;
 color: white;
}

.slide-x {
  width: 150px;
  height: 150px;

  position: absolute;
  z-index: 3;

  background-color: limegreen;
  transform: translatex(-100%);
  transition: 200ms ease-in;
  transition-delay: 200ms;
}

.slide-XY {
  width: 150px;
  height: 150px;

  position: absolute;
  z-index: 2;
  
  background-color: black;
  transform: translate(100%, 100%);
  transition: 300ms ease-in;
  transition-delay: 500ms;
}

.box-wrapper:hover .slide-x {
  transform: translatex(0);
  transition: 200ms ease-in ;
  transition-delay: 500ms;
}

.box-wrapper:hover .slide-XY {
  transform: translate(0);
  transition: 200ms ease-in ;
  transition-delay: 100ms;
}